.movie {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .rating {
    font-weight: bold;
  }
  
  .movie-image {
    max-width: 100%; 
    height: auto; /* Maintaning aspect ratio */
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}